/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 //bootstrap gem
  @import 'bootstrap-sprockets';
  @import 'bootstrap';
  // for font-awesome gem
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  // Typography Styles
 h1, h2, h3{
   font-family: 'Open Sans', sans-serif;
 }
 .head-edit{
  color:darkred;
  font-weight: bold;
 }
 // body background gradient and home page styles
.home-callout{
      background: #F0F2F0;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #66aee9, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #66aee9, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin-top:  -20px;
      padding-top: 25px;
      padding-bottom: 50px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
{
  color: white;
}

.navbar-default .navbar-brand:hover{
  color: cornflowerblue;
  opacity: 0.85;
  font-weight:  bold;

}

.navbar-default .navbar-nav > li > a:hover{
  color: crimson;
  opacity: 0.75;
  font-weight:  bold;
}
// head background gradient and nav styles
 .navbar{
  border:none;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

 }